<?xml version="1.0"?>
<config>
	<modules>
		<PayItEasy_Payment>
			<version>0.1.0</version>
		</PayItEasy_Payment>
	</modules>
	<global>
		<models>
			<PayItEasy_payment>
				<class>PayItEasy_Payment_Model</class>
			</PayItEasy_payment>
		</models>
		<helpers>
			<PayItEasy_payment>
				<class>PayItEasy_Payment_Helper</class>
			</PayItEasy_payment>
		</helpers>
		<blocks>
			<PayItEasy_payment>
				<class>PayItEasy_Payment_Block</class>
			</PayItEasy_payment>
		</blocks>

		<payment>
			<groups>
				<dpos>PayItEasy_payment</dpos>
			</groups>
		</payment>
	</global>
	<default>
		<payment>
			<PayItEasy_payment>
				<model>PayItEasy_payment/base</model>
				<active>0</active>
				<order_status>pending</order_status>
				<title>Pay It Easy Base</title>
				<debug>off</debug>
				<debug_file_path></debug_file_path>
				<group>dpos</group>
			</PayItEasy_payment>
			<PayItEasy_payment_cc>
				<model>PayItEasy_payment/cc</model>
				<active>1</active>
				<group>dpos</group>
				<order_status>pending</order_status>
				<title>Pay It Easy Kreditkarte</title>
				<test_mode>0</test_mode>
				<sort_order>1</sort_order>
			</PayItEasy_payment_cc>
			<PayItEasy_payment_dd>
				<model>PayItEasy_payment/dd</model>
				<active>1</active>
				<group>dpos</group>
				<order_status>pending</order_status>
				<title>Pay It Easy Lastschrift</title>
				<sort_order>1</sort_order>
			</PayItEasy_payment_dd>
			<PayItEasy_payment_pp>
				<model>PayItEasy_payment/pp</model>
				<active>1</active>
				<test_mode>0</test_mode>
				<group>dpos</group>
				<order_status>pending</order_status>
				<title>Pay It Easy Paypal</title>
				<sort_order>1</sort_order>
				<payment_options>authorized</payment_options>
			</PayItEasy_payment_pp>
			<PayItEasy_payment_gp>
				<model>PayItEasy_payment/gp</model>
				<active>1</active>
				<test_mode>0</test_mode>
				<group>dpos</group>
				<order_status>pending</order_status>
				<title>Pay It Easy giropay</title>
				<sort_order>1</sort_order>
				<payment_options>authorized</payment_options>
			</PayItEasy_payment_gp>

		</payment>
	</default>
	<frontend>
		<routers>
			<PayItEasy_payment>
				<use>standard</use>
				<args>
					<module>PayItEasy_Payment</module>
					<frontName>PayItEasy_payment</frontName>
				</args>
			</PayItEasy_payment>
		</routers>
		<translate>
			<modules>
				<PayItEasy_Payment>
					<files>
						<default>PayItEasy_Payment.csv</default>
					</files>
				</PayItEasy_Payment>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<PayItEasy_Payment>
					<files>
						<default>PayItEasy_Payment.csv</default>
					</files>
				</PayItEasy_Payment>
			</modules>
		</translate>
	</adminhtml>
</config>
